body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 10px;
    font-size: 16px;

    background: #475766;
    //background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

}

h1 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 40px;
    text-shadow: #000 2px 2px 5px;
    word-spacing: 15px;
}

.book {
    text-align: center;
    margin-top: 20px;
    align-items: center;
    color: #fff;
    text-shadow: #000 2px 2px 5px;
}

.book-cover {
    height: 250px;
    width: 190px;
    margin: 0 auto;
    margin-bottom: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.edit {
    margin: 1px 2px;
    ;
}