body {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 10px;
    font-size: 14px;

    background: -webkit-linear-gradient(96deg, rgb(239, 241, 238), rgb(241, 57, 250));
    background: linear-gradient(96deg, rgb(239, 241, 238), rgb(241, 57, 250));
    //background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

}

h1 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 40px;
    text-shadow: #000 2px 2px 5px;
    word-spacing: 15px;
}

.book {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.book-cover {
    height: 250px;
    width: 190px;
    //margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}